

@{
    ViewBag.Title = "User Data";
}

<div class="container mt-4">
    <h2>User Data</h2>
    <a asp-controller="Users" asp-action="Create" class="btn btn-primary mb-3">Create new User</a>

    <a asp-controller="Users" asp-action="Login" class="btn btn-primary mb-3">Login</a>
</div>


